<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="padding: 0 4px 0 10px;">
    <div class="row">
      <div class="col-md-12">
        <app-location-summary></app-location-summary>
      </div>
    </div>
    <!--<div class="row card-margin">
    </div>-->

  </div>
    <div class="col-md-4" style="padding: 0 4px;">
      <div class="row">
        <div class="col-md-12">
          <app-application-summary></app-application-summary>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding: 0 10px 0 4px;">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <app-loan-overdue></app-loan-overdue>
        </div>
      </div>
      <div class="row card-margin">
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <app-loan-outstanding></app-loan-outstanding>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
